body {
  background-color: #797979;
  font-family: 'Share Tech', sans-serif;
}

img {
  border-radius: 8px;
  width: 310px;

}

iframe {
  position: absolute;
  top: 10px;
  left: 350px;
  border-radius: 8px;
  margin-bottom: 20px;
}

a {
  margin: 20px 40px;
}

.bio {
  width: 310px;
  position: absolute;
  top: 10px;
  background-color: #969696;
  border-radius: 8px;
  /* bottom: 500px; */
}

.socials {
  text-decoration: none;
  text-align: center;
}
